.ingredient-display {
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 2px 10px;
    align-items: center;
    width: 100%;
    /* box-sizing: border-box; */
    border-bottom: 1px black solid;
    /* border-left: 1px black solid; */
}
.ingredient-display img{
    width: 10vw;
    height: 10vh;
}
