/* .recipe-display {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 5px 10px 5px 60px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px black solid
}

.recipe-display img {
    width: 20vw;
    height: 20vh;
} */
/* .recipe-display {
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px black solid;
}

.recipe-display img {
    width: 20vw;
    height: 20vh;
}


.homepage-outer {
    display: flex;
    justify-content: center;
    margin: 0px 5% 0px 5%;
}

.recipe-displayment {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.home-recipe {
    width: 70%; */
/* border: solid blue 3px; */
/* } */

/* .home-ingredients {
    width: 30%;
    display: flex;
    border-left: 1px black solid;
    flex-direction: column;
}

.icon-org {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    margin-top: 3px;
} */


/* @media screen and (max-width: 768px) {
    .recipe-display {
        flex-direction: column;
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

    .recipe-display img {
        width: 100%;
        height: auto;
    }

    .homepage-outer,
    .recipe-displayment,
    .home-recipe,
    .home-ingredients,
    .icon-org {
        width: 100%;
    }
} */
